In [1]:
import utils
import pandas as pd
from datetime import date

today = date.today()

In [3]:
utils.get_index(data = "01062020",index = "CRI",ext = 'csv')

[WDM] - Current google-chrome version is 83.0.4103
[WDM] - Get LATEST driver version for 83.0.4103
[WDM] - Driver [/Users/lucas/.wdm/drivers/chromedriver/mac64/83.0.4103.39/chromedriver] found in cache

get page ok
set frame ok
choose data ok
Value is: DEB
Value is: CFF
Value is: CRA
Value is: CRI
choose index ok
choose visu ok

In [19]:
data = pd.read_csv('REUNE_Acumulada_23062020.csv',skiprows=[i for i in range(0,3)],encoding="Latin-1",sep = ";")

In [20]:
data

,CETIP,Unnamed: 1,ISIN,Tipo,Agrupamento,Taxa Mínima,Taxa Média,Taxa Máxima,Preço Mínimo,Preço Médio,Preço Máximo,Faixa de Volume
0,13G0249947,NaN,BRRBRACRI200,CRI,TOTAL,--,--,--,"821,847100","821,847100","821,847100",Até 1MM
1,13G0249947,NaN,BRRBRACRI200,CRI,SUBTOTAL,--,--,--,"821,847100","821,847100","821,847100",Até 1MM
2,14C0067892,NaN,BRRBRACRI2F8,CRI,TOTAL,--,--,--,"1.079,679052","130.232,879526","259.386,080000",Até 1MM
3,14C0067892,NaN,BRRBRACRI2F8,CRI,SUBTOTAL,--,--,--,"1.079,679052","130.232,879526","259.386,080000",Até 1MM
4,15C0088187,NaN,BRHBSCCRI148,CRI,TOTAL,--,--,--,"31.096,784718","31.096,784718","31.096,784718",Até 1MM
...,...,...,...,...,...,...,...,...,...,...,...,...
79,20B0980166,NaN,--,CRI,SUBTOTAL,--,--,--,"974,245704","974,245704","974,245704",Até 1MM
80,20C0818565,NaN,--,CRI,TOTAL,--,--,--,"1.002,085463","1.002,243358","1.002,401253",Até 1MM
81,20C0818565,NaN,--,CRI,SUBTOTAL,--,--,--,"1.002,085463","1.002,243358","1.002,401253",Até 1MM
82,20E0031084,NaN,--,CRI,TOTAL,--,--,--,"1.026,830760","1.035,004223","1.057,708288",Até 1MM
83,20E0031084,NaN,--,CRI,SUBTOTAL,--,--,--,"1.026,830760","1.035,004223","1.057,708288",Até 1MM

In [34]:
data_clean = data[data.columns[~data.columns.isin(['Unnamed: 1'])]]

In [38]:
data_clean["data"] = today

In [ ]:
data_clean

In [42]:
data_clean.dtypes

CETIP              object
ISIN               object
Tipo               object
Agrupamento        object
Taxa Mínima        object
Taxa Média         object
Taxa Máxima        object
Preço Mínimo       object
Preço Médio        object
Preço Máximo       object
Faixa de Volume    object
data               object
dtype: object

In [35]:
import sqlite3

In [36]:
conn = sqlite3.connect('my_database.sqlite')

In [37]:
cursor = conn.cursor()

In [ ]:
cursor.execute('''CREATE TABLE SCHOOL
        (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         MARKS          INT);''')